.bg-container{
height:100vh;
padding:30px;
}
.top-heading{
    font-size: 40px;
    font-weight: bold;
    color: #096f92;
}
.todo-heading{
    font-size: 30px;
    font-weight: bold;
    color: black;
    padding-top:20px
}
.input-ele{
    width:50%;
    height: 60px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding-left: 10px;
}
.todo-label{
  background-color: #e6f6ff;
  width: 50%;
  height: 50px;
  border-style: solid;
  border-width: 5px;
  border-color: #096f92;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;
}

.todo-item{
    margin:10px;
    gap: 10px;
}
.checkbox-Input{
    width: 20px;
    height: 20px;
    margin-top:14px
}